<router-outlet></router-outlet>
<p-toast></p-toast>
<div class="flex justify-content-center align-items-center gap-4 m-5">
  <p-button label="Iniciar sesión" icon="pi pi-sign-in" (onClick)="goToLogin()"
            class="p-button-primary"></p-button>
  <p-button label="Registrarse" icon="pi pi-user-plus" (onClick)="goToRegister()"
            class="p-button-success"></p-button>
  <p-button label="Cuentas de banco" icon="pi pi-money-bill" (onClick)="goToBankAccounts()"
            class="p-button-success"></p-button>
</div>
<div class="card">
  <div
    class="dataView-container w-10 sm:w-3/4 md:w-1/2 lg:w-1/3 xl:w-1/4 2xl:w-1/5 mx-auto border-1 surface-border border-round">
    <p-dataView [value]="users" [layout]="layout" [emptyMessage]="'No se han encontrado usuarios'" [lazy]="true"
                (onLazyLoad)="lazyLoad($event)" [paginator]="true" [rows]="rows" [totalRecords]="totalRecords"
                [rowsPerPageOptions]="[5, 10, 20]"
                [showFirstLastIcon]="false" [sortField]="sortField"
                [sortOrder]="sortOrder">

      <ng-template pTemplate="header">
        <div class="flex justify-content-between align-items-center gap-4">
          <div class="flex align-items-center gap-4">
            <h2 class="text-3xl font-bold flex-grow-0">Gestión de usuarios</h2>
            <p-button label="Crear usuario" icon="pi pi-plus" (onClick)="goToAddUser()"
                      class="p-button-success"></p-button>
            <div class="p-toolbar-group-center">
              <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText placeholder="Buscar" pTooltip="Nombre, email o DNI" [autoHide]="true"
                       (input)="onSearch($event)">
              </span>
            </div>
          </div>
          <div class="flex justify-content-end align-items-center gap-4">
            <div class="flex flex-column md:flex-row md:justify-content-between">
              <p-dropdown [options]="sortOptions" placeholder="Ordenar por nombre" (onChange)="onSortChange($event)"
                          styleClass="mb-2 md:mb-0"></p-dropdown>
            </div>
            <p-dataViewLayoutOptions class="flex-grow-0"></p-dataViewLayoutOptions>
          </div>
        </div>
      </ng-template>

      <ng-template pTemplate="list">
        <div class="grid grid-nogutter justify-content-center align-items-center">
          @for (user of users; track users) {
            <div class="col-12 p-2">
              <div class="flex flex-column xl:flex-row xl:align-items-center justify-content-center gap-4"
                   [ngClass]="{ 'border-top-1 surface-border': users.indexOf(user) !== 0 }">

                <img class="w-9 sm:w-16rem xl:w-10rem shadow-2 block xl:block mx-auto border-round" [src]="user.avatar"
                     [alt]="user.name"/>

                <div
                  class="flex flex-column sm:flex-row align-items-center xl:align-items-center justify-content-center flex-1 gap-8">
                  <div class="flex flex-column align-items-center sm:align-items-start gap-3 w-4 text-left">
                    <div class="text-2xl font-bold text-900">{{ user.name }}</div>
                    <p>{{ user.email }}</p>
                    <p-tag [value]="user.role" [severity]="getRole(user)"></p-tag>
                  </div>

                  <div class="flex align-items-center justify-content-center gap-3">
                    <p-overlayPanel #op>
                      <ng-template pTemplate="content">
                        <h4 class="text-left">Nombre: {{ user.name }}</h4>
                        <p class="text-left">Id: {{ user.id }}</p>
                        <p class="text-left">Email: {{ user.email }}</p>
                        <p class="text-left">Username: {{ user.username }}</p>
                        <p class="text-left">DNI: {{ user.dni }}</p>
                        <p class="text-left">Género: {{ user.gender }}</p>
                        <p class="text-left">Rol: {{ user.role }}</p>
                      </ng-template>
                    </p-overlayPanel>
                    <p-overlayPanel #up>
                      <div class="flex justify-content-center">
                        <p-fileUpload name="avatar" url="http://localhost:5196/users/{{ user.id }}/avatar"
                                      accept="image/*" [multiple]="false" (onUpload)="onUpload()"
                                      chooseLabel="Elegir" uploadLabel="Enviar" cancelLabel="Cancelar" method="put"
                                      invalidFileTypeMessageDetail="Solo se permiten imágenes"/>
                      </div>
                    </p-overlayPanel>
                    <p-button (click)="op.toggle($event)" icon="pi pi-user"></p-button>
                    <p-button icon="pi pi-pencil" (click)="goToEditUser(user.id)" severity="warning"/>
                    <p-button (click)="up.toggle($event)" icon="pi pi-upload" severity="help"/>
                    <p-button (click)="delete(user.id)" icon="pi pi-trash" severity="danger"></p-button>
                  </div>
                </div>
              </div>
            </div>
          }
          <p-toast></p-toast>
          <p-confirmDialog #cd>
            <ng-template pTemplate="headless" let-message>
              <div class="flex flex-column align-items-center p-5 surface-overlay border-round">
                <div
                  class="border-circle bg-red-500 inline-flex justify-content-center align-items-center h-6rem w-6rem -mt-8 text-white">
                  <i class="pi pi-trash text-5xl"></i>
                </div>
                <span class="font-bold text-2xl block mb-2 mt-4 text-left">{{ message.header }}</span>
                <p class="mb-0 text-left">{{ message.message }}</p>
                <div class="flex align-items-center justify-content-center gap-2 mt-4">
                  <button pButton label="Eliminar" (click)="cd.accept()" class="w-8rem p-button-danger"></button>
                  <button pButton label="Cancelar" (click)="cd.reject()"
                          class="p-button-danger p-button-outlined"></button>
                </div>
              </div>
            </ng-template>
          </p-confirmDialog>
        </div>
      </ng-template>

      <ng-template pTemplate="grid">
        <div class="grid grid-nogutter">
          @for (user of users; track users) {
            <div class="col-12 sm:col-6 lg:col-12 xl:col-3 p-2">
              <div class="p-2 border-1 surface-border surface-card border-round">
                <div class="flex flex-wrap align-items-center justify-content-between gap-1">
              <span class="flex align-items-center gap-2">
                <i class="pi pi-tag"></i>
                <span class="font-semibold">{{ user.role }}</span>
              </span>
                </div>
                <div class="flex flex-column align-items-center gap-3 py-5">
                  <img class="w-9 shadow-2 border-round" [src]="user.avatar" [alt]="user.name"/>
                  <div class="text-2xl font-bold">{{ user.name }}</div>
                  <p>{{ user.email }}</p>
                </div>
              </div>
            </div>
          }
        </div>
      </ng-template>


    </p-dataView>
  </div>
</div>
