<div class="card flex justify-content-center align-items-center m-2 overflow-hidden">
  <div class="flex flex-column justify-content-center align-items-center gap-3">
    <form [formGroup]="formGroup" class="flex flex-column gap-3 p-1">
      <div class="flex flex-column gap-1">
        <input class="p-3 border-round-3xl border-0 w-20rem" formControlName="phoneUserDestination" pInputText
               placeholder="Teléfono destinatario"
               type="text">
        @if (formGroup.controls['phoneUserDestination'].invalid && formGroup.controls['phoneUserDestination'].touched) {
          @if (formGroup.controls['phoneUserDestination'].errors?.required) {
            <p class="text-red-500 text-xs m-0 ml-3">
              Debe especificar el destinatario</p>
          }
          @if (formGroup.controls['phoneUserDestination'].errors?.pattern) {
            <p class="text-red-500 text-xs m-0 ml-3">
              El formato no es correcto</p>
          }
        }
      </div>
      <div class="flex flex-column gap-1">
        <input class="p-3 border-round-3xl border-0 mb-0 w-20rem" formControlName="amount" pInputText
               placeholder="Cantidad"
               type="number">
        @if (formGroup.controls['amount'].invalid && formGroup.controls['amount'].touched) {
          @if (formGroup.controls['amount'].errors?.required) {
            <p class="text-red-500 text-xs m-0 ml-3">
              La cantidad es obligatoria</p>
          }
          @if (formGroup.controls['amount'].errors?.min) {
            <p class="text-red-500 text-xs m-0 ml-3">
              El valor mínimo es 0,50€</p>
          }
          @if (formGroup.controls['amount'].errors?.max) {
            <p class="text-red-500 text-xs m-0 ml-3">
              El valor máximo son 500€</p>
          }
          @if (formGroup.controls['amount'].errors?.pattern) {
            <p class="text-red-500 text-xs m-0 ml-3">
              El formato no es correcto</p>
          }
        }
      </div>

      <div class="flex flex-column gap-1">
        <input class="p-3 border-round-3xl border-0 w-20rem" formControlName="concept" pInputText placeholder="Concepto"
               type="text">
        @if (formGroup.controls['concept'].invalid && formGroup.controls['concept'].touched) {
          @if (formGroup.controls['concept'].errors?.required) {
            <p class="text-red-500 text-xs m-0 ml-3">
              El concepto es obligatorio</p>
          }
          @if (formGroup.controls['concept'].errors?.minlength) {
            <p class="text-red-500 text-xs m-0 ml-3">
              El concepto no puede tener menos de 3 caracteres</p>
          }
          @if (formGroup.controls['concept'].errors?.maxlength) {
            <p class="text-red-500 text-xs m-0 ml-3">
              El concepto no puede tener más de 30 caracteres</p>
          }
        }
      </div>
      <p-button (click)="createBizum()" label="Confirmar" rounded styleClass="w-full mt-5"></p-button>
      <p-button (click)="cancel()" label="Cancelar" rounded severity="secondary" styleClass="w-full"></p-button>
    </form>
  </div>
</div>
