<router-outlet></router-outlet>
<p-toast></p-toast>
<p-card>
  <div class="grid">
    @if (user) {
      @if (bankAccounts && bankAccounts.length == 0) {
        <p-dialog
          [header]="'¡Hola ' + user.name + '! Parece que aún no tienes ninguna cuenta bancaria. Vamos a crear una para ti.'"
          [visible]="displayDialogBankAccountNewUser" [modal]="true" [style]="{ width: '200vh', height: '70vh' }"
          [draggable]="false" [resizable]="false">
          <div class="flex flex-column justify-content-center align-items-center align-content-center h-full">
            <p-button [ngClass]="{'hidden': displayCreateBankAccount}" label="Empecemos eligiendo el tipo de cuenta"
                      (click)="goToCreateBankAccountNewUser()" class="m-2"></p-button>
            <div [ngClass]="{'hidden': !displayCreateBankAccount}">
              <app-bankaccount-create (onSave)="createBankAccount()"
                                      (onCancel)="closeDialog()"></app-bankaccount-create>
            </div>
          </div>
        </p-dialog>
      }
      <div class="col-12 mb-4">
        <div class="flex flex-column sm:flex-row align-items-center gap-4">
          <div class="flex flex-column sm:flex-row align-items-center gap-3">
            <p-avatar size="large" shape="square" image="{{user.avatar}}"/>
            <div class="flex flex-column align-items-center sm:align-items-start">
              <span class="text-900 font-bold text-4xl">
                Hola {{ user.name }}
              </span>
            </div>
          </div>
        </div>
      </div>

      <!--INGRESOS-->
      <div class="col-12 md:col-6 xl:col-4">
        <div
          class="h-11rem flex flex-column align-items-center justify-content-center border-round-2xl p-3 shadow-5 bg-green-500">
          <i class="pi pi-angle-up text-4xl mb-4 font-bold text-50"></i>
          <span class="text-50 text-2xl mb-4 font-medium font-bold">INGRESOS</span>
          <span class="text-50 text-2xl font-bold">+ {{ totalIncomes }}€</span>
        </div>
      </div>

      <!--SALDO-->
      <div class="col-12 md:col-6 xl:col-4">
        <div
          class="h-11rem flex flex-column align-items-center justify-content-center border-round-2xl p-3 shadow-5 bg-blue-400">
          <i class="pi pi-wallet text-4xl mb-4 font-bold text-50"></i>
          <span class="text-50 text-2xl mb-4 font-medium font-bold">SALDO EN LAS CUENTAS</span>
          <span class="text-50 text-2xl font-bold">{{ totalBalance }}€</span>
        </div>
      </div>

      <!--GASTOS-->
      <div class="col-12 md:col-6 xl:col-4">
        <div
          class="h-11rem flex flex-column align-items-center justify-content-center border-round-2xl p-3 shadow-5 bg-red-500">
          <i class="pi pi-angle-down text-4xl mb-4 font-bold text-50"></i>
          <span class="text-50 text-2xl mb-4 font-medium font-bold">GASTOS</span>
          <span class="text-50 text-2xl font-bold">- {{ totalExpenses }}€</span>
        </div>
      </div>

      <!--CUENTAS-->
      <p-panel [toggleable]="true" class="w-full mt-8">
        <ng-template pTemplate="header">
          <div class="flex align-items-center gap-2">
            <p-avatar size="large" shape="square" image="assets/wallet.png"/>
            <span class="font-bold">Tus cuentas</span>
          </div>
        </ng-template>
        <ng-template pTemplate="icons">
          <p-button styleClass="p-panel-header-icon p-link mr-2" (click)="goToCreateBankAccount()"
                    icon="pi pi-plus-circle" pTooltip="Crear una cuenta" [showDelay]="500" tooltipPosition="bottom"/>
          <p-button styleClass="p-panel-header-icon p-link mr-2" (click)="refresh()" pTooltip="Recargar"
                    [showDelay]="500" tooltipPosition="bottom">
            <span class="pi pi-refresh" [ngClass]="{'rotate-icon': updating}"></span>
          </p-button>
        </ng-template>
        <ng-template pTemplate="headericons" let-collapsed="$implicit">
          <p-button styleClass="p-panel-header-icon p-link mr-2" [icon]="collapsed ? 'pi pi-eye' : 'pi pi-eye-slash'"
                    [pTooltip]="collapsed ? 'Mostrar' : 'Ocultar'" [showDelay]="500" tooltipPosition="bottom"/>
        </ng-template>
        <p-table [value]="bankAccounts" [tableStyle]="{ 'min-width': '50rem' }">
          <ng-template pTemplate="header">
            <tr>
              <th>IBAN</th>
              <th>Saldo</th>
              <th>Usuarios</th>
              <th>Tipo de cuenta</th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-account>
            <tr>
              <td>{{ account.iban }}</td>
              <td>
                <p-tag [value]="account.balance + '€'" [severity]="getBalanceColor(account.balance)"></p-tag>
              </td>
              <td>{{ account.usersName }}</td>
              <td>{{ getAccountName(account.accountType) }}</td>
              <td>
                <div class="flex gap-2">
                  <p-button (click)="infoPanel.toggle($event)" icon="pi pi-info-circle" severity="info"
                            pTooltip="Información" [showDelay]="500" tooltipPosition="bottom" [autoHide]="true"/>
                  <p-button (click)="transactionPanel.toggle($event)" icon="pi pi-money-bill" severity="success"
                            pTooltip="Transacciones" [showDelay]="500" tooltipPosition="bottom" [autoHide]="true"/>
                  <p-button (click)="confirmActiveBizum(account.iban)" icon="pi pi-mobile" severity="help"
                            pTooltip="Activar Bizum" [showDelay]="500" tooltipPosition="bottom" [autoHide]="true"/>
                </div>
              </td>
            </tr>

            <!--PANELES DESPLEGABLES-->
            <p-overlayPanel #infoPanel appendTo="body">
              <ng-template pTemplate="content">
                <h4 class="text-left">IBAN: {{ account.iban }}</h4>
                <p class="text-left">Tipo de cuenta: {{ getAccountName(account.accountType) }}</p>
                <p class="text-left">Usuario: {{ account.usersName }}</p>
                <p class="text-left">Saldo: {{ account.balance }}</p>
                <p class="text-left">Estado: {{ account.isDeleted ? 'Inactiva' : 'Activa' }}</p>
              </ng-template>
            </p-overlayPanel>

            <p-overlayPanel #transactionPanel (onShow)="getTransactionsByIban(account.iban)">
              <ng-template pTemplate="content">
                <h4 class="text-left">Transacciones de la cuenta</h4>
                <p-scrollPanel [style]="{height: '250px', width: '400px'}" styleClass="custombar1">
                  <div class="flex flex-column gap-2">
                    <div class="flex inline-flex gap-2 bg-blue-300 p-2 w-full justify-content-between border-round-2xl">
                      <!--negrita-->
                      <p class="flex-1 font-bold text-black-alpha-70"> Concepto</p>
                      <p class="flex-1 font-bold text-black-alpha-70"> Fecha</p>
                      <p class="flex-1 font-bold text-black-alpha-70"> Importe</p>
                    </div>

                    @for (transaction of transactionsByBankAccount; track transactionsByBankAccount) {
                      @if (transaction.ibanAccountOrigin == account.iban) {
                        <div
                          class="flex inline-flex gap-2 bg-red-300 p-2 w-full justify-content-between align-items-center border-round-2xl">
                          <p class="flex-1 text-black-alpha-70"> {{ transaction.concept }}</p>
                          <p class="flex-1 text-black-alpha-70"> {{ transaction.date | date: 'dd/MM' }}</p>
                          <p class="flex-1 text-black-alpha-70"> -{{ transaction.amount }}€</p>
                        </div>
                      } @else if (transaction.ibanAccountDestination == account.iban) {
                        <div
                          class="flex inline-flex gap-2 bg-green-300 p-2 w-full justify-content-between align-items-center border-round-2xl">
                          <p class="flex-1 text-black-alpha-70"> {{ transaction.concept }}</p>
                          <p class="flex-1 text-black-alpha-70"> {{ transaction.date | date: 'dd/MM' }}</p>
                          <p class="flex-1 text-black-alpha-70"> {{ transaction.amount }}€</p>
                        </div>
                      }
                    }
                  </div>
                </p-scrollPanel>
              </ng-template>
            </p-overlayPanel>


          </ng-template>
        </p-table>
      </p-panel>
      <p-confirmDialog #activeBizum>
        <ng-template pTemplate="headless" let-message>
          <div class="flex flex-column align-items-center p-5 surface-overlay border-round">
            <div
              class="border-circle bg-primary inline-flex justify-content-center align-items-center h-6rem w-6rem -mt-8">
              <i class="pi pi-mobile text-4xl"></i>
            </div>
            <span class="font-bold text-2xl block mb-2 mt-4">{{ message.header }}</span>
            <p class="mb-0">{{ message.message }}</p>
            <div class="flex align-items-center gap-2 mt-4">
              <p-button label="Activar" (click)="activeBizum.accept()"/>
              <p-button label="Cancelar" (click)="activeBizum.reject()" severity="secondary"/>
            </div>
          </div>
        </ng-template>
      </p-confirmDialog>

      <p-dialog header="Crear cuenta de banco" [(visible)]="displayDialogBankAccount" [modal]="true" [draggable]="false"
                [resizable]="false" [contentStyle]="{height: 'auto', borderRadius: '16px'}" [closable]="false">
        <app-bankaccount-create (onSave)="createBankAccount()" (onCancel)="closeDialog()"></app-bankaccount-create>
      </p-dialog>


      <!--TRANSACCIONES-->
      <p-panel [toggleable]="true" class="w-full mt-4">
        <ng-template pTemplate="header">
          <div class="flex align-items-center gap-2">
            <p-avatar size="large" shape="square" image="assets/transaction.png"/>
            <span class="font-bold">Tus transacciones</span>
          </div>
        </ng-template>
        <ng-template pTemplate="icons">
          <p-menu #transactionDate [model]="transactionsDate" [popup]="true"></p-menu>
          <p-button styleClass="p-panel-header-icon p-link mr-2" type="button" (click)="transactionDate.toggle($event)"
                    icon="pi pi-bars" pTooltip="Filtrar por fecha" [showDelay]="500" tooltipPosition="bottom"/>
          <p-button styleClass="p-panel-header-icon p-link mr-2" (click)="goToCreateTransaction()"
                    icon="pi pi-plus-circle" pTooltip="Realizar transacción" [showDelay]="500"
                    tooltipPosition="bottom"/>
          <p-button styleClass="p-panel-header-icon p-link mr-2" (click)="refresh()" pTooltip="Recargar"
                    [showDelay]="500" tooltipPosition="bottom">
            <span class="pi pi-refresh" [ngClass]="{'rotate-icon': updating}"></span>
          </p-button>
        </ng-template>
        <ng-template pTemplate="headericons" let-collapsed="$implicit">
          <p-button styleClass="p-panel-header-icon p-link mr-2" [icon]="collapsed ? 'pi pi-eye' : 'pi pi-eye-slash'"
                    [pTooltip]="collapsed ? 'Mostrar' : 'Ocultar'" [showDelay]="500" tooltipPosition="bottom"/>
        </ng-template>
        <p-table [paginator]="true" [rows]="rows" [rowsPerPageOptions]="[5, 10, 20]" [value]="transactions"
                 [tableStyle]="{ 'min-width': '50rem' }" [lazy]="true" (onLazyLoad)="lazyLoad($event)"
                 [totalRecords]="totalRecords">
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="id" style="width:7%">Id
                <p-sortIcon field="id"/>
              </th>
              <th pSortableColumn="amount" style="width:10%">Importe
                <p-sortIcon field="amount"/>
              </th>
              <th pSortableColumn="concept" style="width:15%">Concepto
                <p-sortIcon field="concept"/>
              </th>
              <th pSortableColumn="ibanAccountOrigin" style="width:19%">Cuenta origen
                <p-sortIcon field="ibanAccountOrigin"/>
              </th>
              <th pSortableColumn="ibanAccountDestination" style="width:19%">Cuenta destino
                <p-sortIcon field="ibanAccountDestination"/>
              </th>
              <th pSortableColumn="date" style="width:13%">Fecha
                <p-sortIcon field="date"/>
              </th>
              <th style="width:10%">
                <p-button label="Quitar orden" (onClick)="clearOrders()" text class="w-12"/>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-transaction>
            <tr>
              <td>{{ transaction.id }}</td>
              <td>
                <p-tag [value]="transaction.amount + '€'" [severity]="getTransactionColor(transaction)"></p-tag>
              </td>
              <td>{{ transaction.concept }}</td>
              <td>{{ transaction.ibanAccountOrigin }}</td>
              <td>{{ transaction.ibanAccountDestination }}</td>
              <td>{{ transaction.date | date: 'dd/MM/yyyy HH:mm' }}</td>
              <td></td>
            </tr>
          </ng-template>
        </p-table>
      </p-panel>

      <p-dialog header="Realizar una transferencia" [(visible)]="displayDialogTransaction" [modal]="true"
                [closable]="false"
                [draggable]="false"
                [resizable]="false" [contentStyle]="{height: 'auto', borderRadius: '16px'}">
        <app-create-transaction (onSave)="createTransaction()" (onCancel)="closeDialog()"></app-create-transaction>
      </p-dialog>

    } @else {
      <div class="card flex justify-content-center w-full h-screen">
        <p-progressSpinner styleClass="w-6rem h-6rem" strokeWidth="8"></p-progressSpinner>
      </div>
    }
  </div>
</p-card>
