<router-outlet></router-outlet>
<p-toast></p-toast>
<p-card>
  <div class="grid">
    @if (user) {
      <div class="col-12">
        <div class="flex flex-column sm:flex-row align-items-center gap-4">
          <div class="flex flex-column sm:flex-row align-items-center gap-3">
            <p-avatar size="large" shape="circle" image="{{user.avatar}}"/>
            <div class="flex flex-column align-items-center sm:align-items-start">
          <span class="text-900 font-bold text-4xl">
            @if (user.gender == 'Male') {
              Bienvenido
            } @else if (user.gender == 'Female') {
              Bienvenida
            } @else {
              Bienvenide
            }
            {{ user.name }}
          </span>
            </div>
          </div>
          <div class="flex gap-2 sm:ml-auto">
            <button type="button" pButton pTooltip="Exchange" tooltipPosition="bottom" icon="pi pi-arrows-h"
                    class="p-element p-button-rounded p-button-outlined p-button p-component p-button-icon-only">
              <span class="p-button-icon pi pi-arrows-h" aria-hidden="true"></span></button>
            <button type="button" pButton pTooltip="Withdraw" tooltipPosition="bottom" icon="pi pi-download"
                    class="p-element p-button-rounded p-button-outlined p-button p-component p-button-icon-only">
              <span class="p-button-icon pi pi-download" aria-hidden="true"></span></button>
            <button type="button" pButton pTooltip="Send" tooltipPosition="bottom" icon="pi pi-send"
                    class="p-element p-button-rounded p-button p-component p-button-icon-only">
              <span class="p-button-icon pi pi-send" aria-hidden="true"></span></button>
          </div>
        </div>
      </div>
      <!--SALDO-->
      <div class="col-12 md:col-6 xl:col-4">
        <div
          class="card h-full flex flex-column align-items-center justify-content-center bg-blue-400 border-round-3xl p-3">
          <i class="pi pi-euro text-4xl mb-4"></i>
          <span class="text-900 text-lg mb-4 font-medium">Saldo</span>
          <span class="text-900 text-2xl font-bold">{{ totalBalance }}€</span>
        </div>
      </div>

      <!--INGRESOS-->
      <div class="col-12 md:col-6 xl:col-4">
        <div
          class="card h-full flex flex-column align-items-center justify-content-center bg-green-400 border-round-3xl p-3">
          <i class="pi pi-arrow-up text-4xl mb-4"></i>
          <span class="text-900 text-lg mb-4 font-medium">Ingresos</span>
          <span class="text-900 text-2xl text-success font-bold">{{ totalIncomes }}€</span>
        </div>
      </div>

      <!--GASTOS-->
      <div class="col-12 md:col-6 xl:col-4">
        <div
          class="card h-full flex flex-column align-items-center justify-content-center bg-red-400 border-round-3xl p-3">
          <i class="pi pi-arrow-down text-4xl mb-4"></i>
          <span class="text-900 text-lg mb-4 font-medium">Gastos</span>
          <span class="text-900 text-2xl text-danger font-bold">{{ totalExpenses }}€</span>
        </div>
      </div>

      <!--CUENTAS-->
      <p-panel [toggleable]="true" class="w-full p-3">
        <ng-template pTemplate="header">
          <div class="flex align-items-center gap-2">
            <p-avatar size="large" shape="square" image="assets/wallet.png"/>
            <span class="font-bold">Tus cuentas</span>
          </div>
        </ng-template>
        <ng-template pTemplate="icons">
          <button class="p-panel-header-icon p-link mr-2" (click)="refresh()">
            <span class="pi pi-refresh" [ngClass]="{'rotate-icon': updating}"></span>
          </button>
        </ng-template>
        <p-table [value]="bankAccounts" [tableStyle]="{ 'min-width': '50rem' }">
          <ng-template pTemplate="header">
            <tr>
              <th>IBAN</th>
              <th>Saldo</th>
              <th>Usuarios</th>
              <th>Tipo de cuenta</th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-account>
            <tr>
              <td>{{ account.iban }}</td>
              <td>
                <p-tag [value]="account.balance + '€'" [severity]="getBalanceColor(account.balance)"></p-tag>
              </td>
              <td>{{ account.usersName }}</td>
              <td>{{ getAccountName(account.accountType) }}</td>
              <td>
                <div class="flex gap-2">
                  <p-button (click)="infoPanel.toggle($event)" icon="pi pi-info-circle" severity="info" pTooltip="Información" [showDelay]="500" tooltipPosition="bottom" [autoHide]="true"/>
                  <p-button (click)="transactionPanel.toggle($event)" icon="pi pi-money-bill" severity="success" pTooltip="Transacciones" [showDelay]="500" tooltipPosition="bottom" [autoHide]="true"/>
                </div>
              </td>
            </tr>

            <!--PANELES DESPLEGABLES-->
            <p-overlayPanel #infoPanel>
              <ng-template pTemplate="content">
                <h4 class="text-left">IBAN: {{ account.iban }}</h4>
                <p class="text-left">Tipo de cuenta: {{ getAccountName(account.accountType) }}</p>
                <p class="text-left">Usuario: {{ account.usersName }}</p>
                <p class="text-left">Saldo: {{ account.balance }}</p>
                <p class="text-left">Estado: {{ account.isDeleted ? 'Inactiva' : 'Activa' }}</p>
              </ng-template>
            </p-overlayPanel>

            <p-overlayPanel #transactionPanel (onShow)="getTransactionsByIban(account.iban)">
              <ng-template pTemplate="content">
                <h4 class="text-left">Transacciones de la cuenta</h4>
                <p-scrollPanel [style]="{height: '250px', width: '400px'}" styleClass="custombar1">

                  <div class="flex flex-column gap-2">
                    <div class="flex inline-flex gap-2 bg-blue-100 p-2 w-full justify-content-between">
                      <!--negrita-->
                      <p class="flex-1 font-bold"> Concepto</p>
                      <p class="flex-1 font-bold"> Fecha</p>
                      <p class="flex-1 font-bold"> Importe</p>
                    </div>

                    @for (transaction of transactionsByBankAccount; track transactionsByBankAccount) {
                      @if (transaction.ibanAccountOrigin == account.iban) {
                        <div
                          class="flex inline-flex gap-2 bg-red-100 p-2 w-full justify-content-between align-items-center">
                          <p class="flex-1"> {{ transaction.concept }}</p>
                          <p class="flex-1"> {{ transaction.date | date: 'dd/MM' }}</p>
                          <p class="flex-1"> -{{ transaction.amount }}€</p>
                        </div>
                      } @else if (transaction.ibanAccountDestination == account.iban) {
                        <div
                          class="flex inline-flex gap-2 bg-green-100 p-2 w-full justify-content-between align-items-center">
                          <p class="flex-1"> {{ transaction.concept }}</p>
                          <p class="flex-1"> {{ transaction.date | date: 'dd/MM' }}</p>
                          <p class="flex-1"> {{ transaction.amount }}€</p>
                        </div>
                      }
                    }
                  </div>
                </p-scrollPanel>
              </ng-template>
            </p-overlayPanel>

          </ng-template>
        </p-table>
      </p-panel>


      <p-button label="Crear cuenta bancaria" (click)="goToCreateBankAccount()" class="m-2"></p-button>
      <p-dialog header="Crear cuenta bancaria" [(visible)]="displayDialogBankAccount" [modal]="true"
                [resizable]="false"
                [contentStyle]="{height: '16rem'}" [closable]="false">
        <app-bankaccount-create (onSave)="createBankAccount()" (onCancel)="closeDialog()"></app-bankaccount-create>
      </p-dialog>

      <!--TRANSACCIONES-->
      <p-panel [toggleable]="true" class="w-full p-3">
        <ng-template pTemplate="header">
          <div class="flex align-items-center gap-2">
            <p-avatar size="large" shape="square" image="assets/transaction.png"/>
            <span class="font-bold">Tus transacciones</span>
          </div>
        </ng-template>
        <ng-template pTemplate="icons">
          <button class="p-panel-header-icon p-link mr-2" (click)="refresh()">
            <span class="pi pi-refresh" [ngClass]="{'rotate-icon': updating}"></span>
          </button>
        </ng-template>
        <p-table [paginator]="true" [rows]="rows" [rowsPerPageOptions]="[5, 10, 20]" [value]="transactions"
                 [tableStyle]="{ 'min-width': '50rem' }" [lazy]="true" (onLazyLoad)="lazyLoad($event)"
                 [totalRecords]="totalRecords">
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="id" style="width:7%">Id
                <p-sortIcon field="id"/>
              </th>
              <th pSortableColumn="amount" style="width:10%">Importe
                <p-sortIcon field="amount"/>
              </th>
              <th pSortableColumn="concept" style="width:15%">Concepto
                <p-sortIcon field="concept"/>
              </th>
              <th pSortableColumn="ibanAccountOrigin" style="width:19%">Cuenta origen
                <p-sortIcon field="ibanAccountOrigin"/>
              </th>
              <th pSortableColumn="ibanAccountDestination" style="width:19%">Cuenta destino
                <p-sortIcon field="ibanAccountDestination"/>
              </th>
              <th pSortableColumn="date" style="width:13%">Fecha
                <p-sortIcon field="date"/>
              </th>
              <th style="width:10%">
                <p-button label="Quitar orden" (onClick)="clearOrders()" [text]="true" class="w-12"/>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-transaction>
            <tr>
              <td>{{ transaction.id }}</td>
              <td>
                <p-tag [value]="transaction.amount + '€'" [severity]="getTransactionColor(transaction)"></p-tag>
              </td>
              <td>{{ transaction.concept }}</td>
              <td>{{ transaction.ibanAccountOrigin }}</td>
              <td>{{ transaction.ibanAccountDestination }}</td>
              <td>{{ transaction.date | date: 'dd/MM/yyyy HH:mm' }}</td>
              <td></td>
            </tr>
          </ng-template>
          <!--TODO: BOTÓN PARA DESCARGAR FACTURAS-->
          <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text" (click)="displayDialogTransaction = true"></p-button>
          </ng-template>
          <ng-template pTemplate="paginatorright">
            <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
          </ng-template>
        </p-table>
      </p-panel>
      <p-button label="Realizar transferencia" (click)="goToCreateTransaction()" class="m-2"></p-button>

      <p-dialog header="Realizar una transferencia" [(visible)]="displayDialogTransaction" [modal]="true"
                [resizable]="false"
                [contentStyle]="{height: '29rem'}" [closable]="false">
        <app-create-transaction (onSave)="createTransaction()" (onCancel)="closeDialog()"></app-create-transaction>
      </p-dialog>

      <!--VER TARJETAS-->
      <p-button label="Ver tarjetas" routerLink="/card-panel" class="m-2"></p-button>
    }
  </div>
</p-card>
