<router-outlet></router-outlet>
<div class="flex align-items-center justify-content-center h-screen">
  <p-card header="Registro" subheader="">
    <form [formGroup]="formGroup" id="registerForm">
      <div class="flex flex-column">
        <span class="p-input-icon-left my-2">
          <i class="pi pi-user"></i>
          <input id="name" formControlName="name" type="text" pInputText placeholder="Nombre">
        </span>
        <span class="p-input-icon-left my-2">
          <i class="pi pi-envelope"></i>
          <input id="email" formControlName="email" type="text" pInputText placeholder="Email">
        </span>
        <span class="p-input-icon-left my-2">
          <i class="pi pi-user"></i>
          <input id="username" formControlName="username" type="text" pInputText placeholder="Username">
        </span>
        <span class="p-input-icon-left my-2">
          <i class="pi pi-id-card"></i>
          <input id="dni" formControlName="dni" type="text" pInputText placeholder="DNI">
        </span>
        <p>Género:</p>
        <div class="flex flex-wrap gap-3">
          <div class="flex flex-column gap-3">
            <div class="flex align-items-center">
              <p-radioButton name="gender" value="male" formControlName="gender" id="male"></p-radioButton>
              <label for="male" class="ml-2">Hombre</label>
            </div>

            <div class="flex align-items-center">
              <p-radioButton name="gender" value="female" formControlName="gender" id="female"></p-radioButton>
              <label for="female" class="ml-2">Mujer</label>
            </div>
          </div>

          <div class="flex flex-column gap-3">
            <div class="flex align-items-center">
              <p-radioButton name="gender" value="other" formControlName="gender" id="other"></p-radioButton>
              <label for="other" class="ml-2">Otro</label>
            </div>

            <div class="flex align-items-center">
              <p-radioButton name="gender" value="nottosay" formControlName="gender" id="nottosay"></p-radioButton>
              <label for="nottosay" class="ml-2">Prefiero no decirlo</label>
            </div>
          </div>
        </div>
        <span class="p-input-icon-left my-2">
          <i class="pi pi-lock"></i>
          <p-password formControlName="password" [toggleMask]="true" placeholder="Password" [feedback]="true"
                      class="ng-invalid ng-dirty"/>
        </span>
      </div>
    </form>

    <ng-template pTemplate="footer">
      <div class="flex align-items-center justify-content-center">
        <p-button label="Crear cuenta" (click)="sendForm()" class="mx-2" [rounded]="true"></p-button>
      </div>
    </ng-template>
  </p-card>
</div>
<p-toast></p-toast>


