<router-outlet></router-outlet>
<p-toast></p-toast>
<div class="card">
  <p-table (onLazyLoad)="lazyLoad($event)" [value]="bankAccounts"
           [globalFilterFields]="['iban', 'accountType', 'users', 'balance', 'isDeleted']" [lazy]="true"
           [paginator]="true" [rowsPerPageOptions]="[10, 25, 50]" [rows]="rows" [totalRecords]="totalRecords"
           [showCurrentPageReport]="false" [showFirstLastIcon]="false"
           [tableStyle]="{ 'min-width': '50rem', 'min-height': '23rem'}">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="IBAN" style="width:22%">IBAN
          <p-sortIcon field="IBAN"/>
        </th>
        <th pSortableColumn="accountType" style="width:22%">Tipo de cuenta
          <p-sortIcon field="accountType"/>
        </th>
        <th style="width:22%">Usuario</th>
        <th pSortableColumn="balance" style="width:22%">Saldo
          <p-sortIcon field="balance"/>
        </th>
        <th pSortableColumn="isDeleted" style="width:22%">Estado</th>
        <th style="width:22%">
          <p-button (onClick)="clearOrders()" text class="w-12" label="Quitar orden"/>
      </tr>
      <tr>
        <!--BUSCAR POR IBAN-->
        <th>
          <p-columnFilter (input)="onSearch($event)" [showMenu]="false" field="iban" placeholder="Buscar por IBAN"
                          type="text"/>
        </th>
        <!--BUSCAR POR ACCOUNT TYPE-->
        <th>
          <p-columnFilter [showMenu]="false" field="accountType" matchMode="in">
            <ng-template let-value pTemplate="filter">
              <p-multiSelect (onChange)="onSearchFilter($event)" [ngModel]="value" [options]="accountsTypes"
                             [showHeader]="false" [style]="{'max-width': '15rem', 'width': '15rem'}" display="chip"
                             placeholder="Tipo de cuenta" [maxSelectedLabels]="1" [selectionLimit]="1" [focusOnHover]="true">
                <ng-template let-option pTemplate="item">
                  <p-tag [severity]="getSeverity(option)" [value]="option"></p-tag>
                </ng-template>
              </p-multiSelect>
            </ng-template>
          </p-columnFilter>
        </th>
        <!--BUSCAR POR USUARIO-->
        <th>
          <p-columnFilter [showMenu]="false" field="users" matchMode="in">
            <ng-template let-value pTemplate="filter">
              <p-multiSelect (onChange)="onSearchUser($event)" [ngModel]="value" [options]="users"
                             [showHeader]="false" [style]="{'max-width': '15rem', 'width': '15rem'}" display="chip"
                             placeholder="Buscar por usuario" [focusOnHover]="true">
                <ng-template let-option pTemplate="item">
                  <div class="inline-block vertical-align-middle">
                    <img [alt]="option" class="vertical-align-middle" src="assets/avatar.png" width="24"/>
                    <span class="ml-1 mt-1">{{ option }}</span>
                  </div>
                </ng-template>
              </p-multiSelect>
            </ng-template>
          </p-columnFilter>
        </th>
        <!--BUSCAR POR SALDO-->
        <th>
          <p-columnFilter (input)="onSearch($event)" [showMenu]="false" field="balance"
                          pStyleClass="p-3 border-round-3xl border-0 bg-secondary"
                          placeholder="Saldo" type="text"/>
        </th>
        <!--BUSCAR POR ESTADO-->
        <th>
          <p-columnFilter [showClearButton]="false" field="isDeleted" type="boolean"></p-columnFilter>
        </th>
        <!--CLEAR-->
        <th>
          <p-button (onClick)="clearFilters()" text class="w-12" label="Limpiar filtros"/>
        </th>
      </tr>
    </ng-template>

    <ng-template let-account pTemplate="body">
      <tr>
        <td>
          {{ account.iban }}
        </td>
        <td>
          <p-tag [severity]="getSeverity(account.accountType)" [value]="getAccountName(account.accountType)"></p-tag>
        </td>
        <td>
          <div class="inline-block vertical-align-middle">
            <div class="border-50 border-round inline-block">
              <img [alt]="account.usersName" class="vertical-align-middle" src="assets/avatar.png" width="24"/>
              <span class="ml-1 mt-1">{{ account.usersName }}</span></div>
          </div>
        </td>
        <td>
          <p-tag [severity]="getBalanceColor(account.balance)" [value]="account.balance.toString() + '€'"></p-tag>
        </td>
        <td>
          <i
            [ngClass]="{ 'text-green-500 pi-check-circle': !account.isDeleted, 'text-red-500 pi-times-circle': account.isDeleted }"
            class="pi"></i>
        </td>
        <td>
          <div class="flex gap-2">
            <p-overlayPanel #infoPanel>
              <ng-template pTemplate="content">
                <h4 class="text-left">IBAN: {{ account.iban }}</h4>
                <p class="text-left">Tipo de cuenta: {{ getAccountName(account.accountType) }}</p>
                <p class="text-left">Usuario: {{ account.usersName }}</p>
                <p class="text-left">Saldo: {{ account.balance }}</p>
                <p class="text-left">Estado: {{ account.isDeleted ? 'Inactiva' : 'Activa' }}</p>
              </ng-template>
            </p-overlayPanel>
            <p-overlayPanel #transactionPanel>
              <ng-template pTemplate="content">
                <p-scroller [itemSize]="5" [items]="transactions" [style]="{'width': '200px', 'height': 'auto'}"
                            scrollHeight="15rem" styleClass="border-1 surface-border">
                  <ng-template let-item let-options="options" pTemplate="item">
                    <div [ngClass]="{'bg-gray-100': options.index % 2 === 0}"
                         class="flex inline-flex align-items-center p-2">
                      <div class="flex inline-flex w-full border-gray-50 border-1 p-2">
                        <span>{{ item.concept }} - {{ item.date | date: 'dd/MM' }} - {{ item.amount }}€</span>
                      </div>
                    </div>
                  </ng-template>
                </p-scroller>
              </ng-template>
            </p-overlayPanel>

            <p-button (click)="infoPanel.toggle($event)" [autoHide]="true" [showDelay]="500"
                      icon="pi pi-info-circle"
                      pTooltip="Información" severity="secondary" tooltipPosition="bottom"/>
            <p-button (click)="goToEditBankAccount(account.iban)" [autoHide]="true" [showDelay]="500"
                      icon="pi pi-pencil" pTooltip="Editar" severity="secondary" tooltipPosition="bottom"/>
            <p-button (click)="getTransactionsByIban(account.iban, $event)"
                      [autoHide]="true"
                      [showDelay]="500" icon="pi pi-money-bill" pTooltip="Transacciones" severity="secondary"
                      tooltipPosition="bottom"/>
            <p-button (click)="deleteBankAccount(account.iban)" *ngIf="!account.isDeleted" [autoHide]="true"
                      [showDelay]="500"
                      icon="pi pi-trash" pTooltip="Borrar" severity="secondary" tooltipPosition="bottom"/>
            <p-button (click)="activateBankAccount(account.iban)" *ngIf="account.isDeleted" [autoHide]="true"
                      [showDelay]="500"
                      icon="pi pi-undo" pTooltip="Recuperar" severity="secondary" tooltipPosition="bottom"/>
          </div>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5">No se han encontrado cuentas bancarias</td>
      </tr>
    </ng-template>
  </p-table>

  <div class="flex justify-content-center align-items-center w-full p-6">
    <p-button (click)="goToCreateBankAccount()" label="Crear cuenta bancaria"></p-button>
  </div>

  <p-dialog [(visible)]="displayDialog" [closable]="false" [contentStyle]="{height: '21rem'}"
            [header]="headerSaveUpdateBankAccount"
            [modal]="true" [resizable]="false">
    <app-bankaccount-create (onCancel)="closeDialog()" (onSave)="saveBankAccount()"></app-bankaccount-create>
  </p-dialog>

  <p-toast></p-toast>
  <p-confirmDialog #cd>
    <ng-template let-message pTemplate="headless">
      <div class="flex flex-column align-items-center p-5 surface-overlay border-round">
        <div
          class="border-circle bg-red-500 inline-flex justify-content-center align-items-center h-6rem w-6rem -mt-8 text-white">
          <i class="pi pi-trash text-5xl"></i>
        </div>
        <span class="font-bold text-2xl block mb-2 mt-4 text-left">{{ message.header }}</span>
        <p class="mb-0 text-left">{{ message.message }}</p>
        <div class="flex align-items-center justify-content-center gap-2 mt-4">
          <p-button (click)="cd.accept()" label="Eliminar" styleClass="bg-red-500"/>
          <p-button (click)="cd.reject()" label="Cancelar" styleClass="bg-gray-500"/>
        </div>
      </div>
    </ng-template>
  </p-confirmDialog>

</div>
