<router-outlet></router-outlet>
<p-toast></p-toast>

<div class="flex flex-column justify-content-center align-items-center">
  <h1 class="text-center">Mis tarjetas</h1>
  <div class="m-5 grid w-10">
    @if (cards) {
      @for (card of cards; track cards) {
        <div class="sm:col-12 md:col-12 lg:col-12 xl:col-6">
          <div class="flex justify-content-center flex-column align-items-center gap-5">
            <div class="p-5 border-round-3xl shadow-2 w-30rem" [ngStyle]="getBackgroundColor(card)">
              <div class="inline-flex gap-2 align-items-center">
                <p-avatar image="assets/{{ card.cardType }}.png" styleClass="mr-2" size="large"></p-avatar>
                <h2>{{ getCardTypeValue(card.cardType) }}</h2>
              </div>

              <div class="card-body w-full">
                <h2>{{ card.cardNumber.slice(0, 4) + ' ' + card.cardNumber.slice(4, 8) + ' ' + card.cardNumber.slice(8, 12) + ' ' + card.cardNumber.slice(12, 16) }}</h2>
                <p>{{ card.user.name }}</p>
                <div class="gap-2 w-full flex justify-content-center">
                  <p-button (click)="infoPanel.toggle($event)" icon="pi pi-eye"
                            styleClass="bg-black-alpha-90 border-transparent text-white hover:bg-gray-700"></p-button>

                  @if (card.isBlocked) {
                    <p-button (click)="unblockCard(card)" icon="pi pi-lock-open"
                              styleClass="bg-black-alpha-90 border-transparent text-white hover:bg-gray-700"/>
                  } @else {
                    <p-button (click)="blockCard(card)" icon="pi pi-lock"
                              styleClass="bg-black-alpha-90 border-transparent text-white hover:bg-gray-700"/>
                  }

                  <p-button (click)="showOptions($event, card)" icon="pi pi-cog"
                            styleClass="bg-black-alpha-90 border-transparent text-white hover:bg-gray-700"></p-button>
                  <p-menu #optionMenu [model]="optionItems" [popup]="true"></p-menu>
                </div>
              </div>
            </div>

            <p-overlayPanel #infoPanel>
              <ng-template pTemplate="content">
                <h4 class="text-left">Información de la tarjeta</h4>
                <p>Titular: {{ card.user.name }}</p>
                <p>Fecha de vencimiento: {{ card.expirationDate | date: 'MM/yy' }}</p>
                <p>Saldo: {{ card.bankAccount.balance }}</p>
                <p>CVV: {{ card.cvv }}</p>
                <p>PIN: {{ card.pin }}</p>
                <p>Estado: {{ card.isBlocked ? 'Bloqueada' : 'Activa' }}</p>
              </ng-template>
            </p-overlayPanel>
          </div>
        </div>
      }
      <p-dialog header="Actualizar el pin" [(visible)]="updatePinDialogVisible" [style]="{width: '20vw'}">
        <div class="card flex justify-content-center align-items-center flex-column gap-3">
          <p-inputOtp [(ngModel)]="pinToUpdate" [integerOnly]="true"></p-inputOtp>
          <p-button label="Actualizar" (click)="updatePin()"
                    styleClass="bg-black-alpha-90 border-transparent text-white hover:bg-gray-700"></p-button>
        </div>
      </p-dialog>
      <!--solicitar una tarjeta-->
      <div class="sm:col-12 md:col-12 lg:col-12 xl:col-6">
        <div class="flex justify-content-center flex-column align-items-center gap-5">
          <div class="p-5 border-round-3xl shadow-2 w-30rem" [ngStyle]="getBackgroundColor()">
            <div class="inline-flex gap-2 align-items-center">
              <p-avatar image="assets/new.png" styleClass="mr-2" size="large"></p-avatar>
              <h2>Solicitar tarjeta</h2>
            </div>
            <div class="card-body w-full">
              <p class="mt-2">¿Deseas solicitar una nueva tarjeta de crédito?</p>
              <p class="mt-2">¡Haz clic en el botón de abajo!</p>
              <p-button label="Solicitar" icon="pi pi-credit-card" (click)="showNewCardDialogMethod()"
                        styleClass="bg-black-alpha-90 border-transparent text-white hover:bg-gray-700 mt-4"></p-button>
            </div>
          </div>
        </div>
      </div>
      <p-dialog header="Solicitar una tarjeta" [(visible)]="showNewCardDialog"
                [style]="{width: '30vw', height: '30vw'}">
        <app-create-card (onSave)="createCard()" (onCancel)="showNewCardDialog = false"></app-create-card>
      </p-dialog>
    } @else {
      <div class="card flex justify-content-center w-full h-screen">
        <p-progressSpinner styleClass="w-6rem h-6rem" strokeWidth="8"></p-progressSpinner>
      </div>
    }
  </div>
</div>

