@media screen and (max-width: 768px) {
  .menu-superior {
    display: none;
  }
  .boton-hamburguesa {
    display: block;
  }
}

@media screen and (min-width: 769px) {
  .menu-superior {
    display: block;
  }
  .boton-hamburguesa {
    display: none;
  }
}
