<p-menubar styleClass="bg-black-alpha-90 border-transparent border-noround">
  <ng-template pTemplate="start">
    @if (user) {
      <button pButton type="button" label="Inicio" icon="pi pi-home" class="bg-transparent border-transparent"
              [routerLink]="['/']"></button>
      @if (user.role === 'Admin') {
        <p-menu #menu [popup]="true" [model]="items"></p-menu>
        <button pButton type="button" label="Acciones" (click)="menu.toggle($event)"
                class="bg-transparent border-transparent" icon="pi pi-th-large"></button>
      }
      <button pButton type="button" label="Crear cuenta" icon="pi pi-plus-circle"
              class="bg-transparent border-transparent"
              [routerLink]="['/bankaccounts/create']"></button>
      <button pButton type="button" label="Transferir" icon="pi pi-send" class="bg-transparent border-transparent"
              [routerLink]="['/transactions/create']"></button>
      <button pButton type="button" label="Bizum" icon="pi pi-mobile" class="bg-transparent border-transparent"
              [routerLink]="['/bizum']"></button>
      <button pButton type="button" label="Tarjetas" icon="pi pi-credit-card" class="bg-transparent border-transparent"
              [routerLink]="['/card-panel']"></button>
      <button pButton type="button" label="Depositar" icon="pi pi-money-bill" class="bg-transparent border-transparent"
              [routerLink]="['/deposit']"></button>
    }
  </ng-template>

  <ng-template pTemplate="end">
    <button pButton type="button" label="Iniciar sesión" icon="pi pi-sign-in"
            class="bg-transparent border-transparent" [routerLink]="['/login']"
            *ngIf="!isLogged()"></button>

    <p-toast></p-toast>
    <p-confirmPopup #logoutMes>
      <ng-template pTemplate="headless" let-message let-test>
        <div class="border-round p-3">
          <span>{{ message.message }}</span>
          <div class="flex align-items-center gap-2 mt-3">
            <button (click)="accept()" pButton label="Confirmar" class="p-button-sm p-button-outlined"></button>
            <button (click)="reject()" pButton label="Cancelar" class="p-button-sm p-button-text"></button>
          </div>
        </div>
      </ng-template>
    </p-confirmPopup>

    <button pButton type="button" label="Cerrar sesión" (click)="confirm($event)" icon="pi pi-sign-out"
            class="bg-transparent border-transparent " *ngIf="isLogged()"></button>
    <button pButton type="button" label="Perfil" icon="pi pi-user"
            class="bg-transparent border-transparent" [routerLink]="['/profile']"
            *ngIf="isLogged()"></button>
  </ng-template>
</p-menubar>
