<router-outlet></router-outlet>
<div class="flex align-items-center justify-content-center h-screen" style="background: linear-gradient(180deg, rgba(228,42,240,1) 0%, rgba(0,104,255,1) 100%)">
  <p-card header="Iniciar sesión" subheader="" class="flex justify-content-center align-items-center align-content-center">
    <form [formGroup]="formGroup" id="loginForm">
      <div class="flex flex-column ">
        <span class="p-input-icon-left my-2">
          <i class="pi pi-user"></i>
          <input id="email" formControlName="email" type="text" pInputText placeholder="Email">
        </span>
        <span class="p-input-icon-left my-2">
          <i class="pi pi-lock"></i>
          <input id="password" formControlName="password" type="password" pInputText placeholder="Password">
        </span>
      </div>
    </form>

    <ng-template pTemplate="footer">
      <div class="flex align-items-center justify-content-center">
        <p-button label="Iniciar sesión" (click)="sendLogin()"></p-button>
        <p-button label="Registrarse" (click)="goToRegister()" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
      </div>
    </ng-template>
  </p-card>
</div>
