@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@layer reset, primeng;
@layer reset {
  button,
  input {
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
