@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@layer reset, primeng;
@layer reset {
  button,
  input {
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.p-panel .p-panel-content {
  padding: 0;
}

.p-dropdown {
  border-radius: 1.5rem !important;
  padding: 0.3rem !important;
  background-color: var(--gray-200) !important;
  border-color: var(--surface-0) !important;
}

.p-paginator .p-dropdown .p-dropdown-label{
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-fileupload .p-fileupload-buttonbar {
  background: transparent;
  border-color: transparent;
}

.p-fileupload .p-fileupload-content {
  border-color: transparent;
}

.p-button:active, .p-button:focus {
  box-shadow: none;
}
