<router-outlet></router-outlet>
<p-toast></p-toast>
<div class="card">
  <p-table (onLazyLoad)="lazyLoad($event)" [globalFilterFields]="['concept', 'amount', 'ibanAccountOrigin', 'ibanAccountDestination']" [lazy]="true" [paginator]="true"
           [rowsPerPageOptions]="[10, 25, 50]" [rows]="rows"
           [showCurrentPageReport]="true" [tableStyle]="{ 'min-width': '75rem' }" [totalRecords]="totalRecords"
           [value]="transactions">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="concept" style="width:22%">Concepto
          <p-sortIcon field="concept"/>
        </th>
        <th pSortableColumn="amount" style="width:22%">Cantidad
          <p-sortIcon field="amount"/>
        </th>
        <th pSortableColumn="ibanAccountOrigin" style="width:22%">Cuenta origen
          <p-sortIcon field="ibanAccountOrigin"/>
        </th>
        <th pSortableColumn="ibanAccountDestination" style="width:22%">Cuenta destino
          <p-sortIcon field="ibanAccountDestination"/>
        </th>
        <th pSortableColumn="date" style="width:22%">Fecha
          <p-sortIcon field="date"/>
        </th>
        <th style="width:22%">
          <p-button (onClick)="clearOrders()" [text]="true" class="w-12" label="Quitar orden"/>
        </th>
      </tr>
      <tr>
        <!--BUSCAR POR CONCEPTO-->
        <th>
          <p-columnFilter (input)="onSearch($event)" [showMenu]="false" field="concept" placeholder="Buscar por concepto"
                          type="text"/>
        </th>
        <!--BUSCAR POR CANTIDAD-->
        <th>
          <p-columnFilter (input)="onSearch($event)" [showMenu]="false" field="amount" placeholder="Buscar por cantidad"
                          type="text"/>
        </th>
        <!--BUSCAR POR CUENTA ORIGEN-->
        <th>
          <p-columnFilter (input)="onSearch($event)" [showMenu]="false" field="ibanAccountOrigin"
                          placeholder="Buscar por cuenta origen" type="text"/>
        </th>
        <!--BUSCAR POR CUENTA DESTINO-->
        <th>
          <p-columnFilter (input)="onSearch($event)" [showMenu]="false" field="ibanAccountDestination"
                          placeholder="Buscar por cuenta destino" type="text"/>
        </th>
        <!--BUSCAR POR FECHA-->
        <th>
          <p-columnFilter (input)="onSearch($event)" [showMenu]="false" field="date" placeholder="Buscar por fecha"
                          type="date"/>
        </th>
        <!--CLEAR-->
        <th>
          <p-button (onClick)="clearFilters()" [text]="true" class="w-12" label="Limpiar filtros"/>
        </th>
      </tr>
    </ng-template>

    <ng-template let-transaction pTemplate="body">
      <tr>
        <td>
          {{ transaction.concept }}
        </td>
        <td>
          <p-tag [severity]="getAmountColor(transaction.amount)" [value]="transaction.amount.toString() + '€'"></p-tag>
        </td>
        <td>
          {{ transaction.ibanAccountOrigin }}
        </td>
        <td>
          {{ transaction.ibanAccountDestination }}
        </td>
        <td>
          {{ transaction.date | date: 'dd/MM/yyyy' }}
        </td>
        <td>
          <div class="flex gap-2">
            <p-overlayPanel #op>
              <ng-template pTemplate="content">
                <h4 class="text-left">Información de la transacción</h4>
                <p>Id: {{ transaction.id }}</p>
                <p>Concepto: '{{ transaction.concept }}'</p>
                <p>Cantidad: {{ transaction.amount }}€</p>
                <p>Cuenta origen: {{ transaction.ibanAccountOrigin }}</p>
                <p>Cuenta destino: {{ transaction.ibanAccountDestination }}</p>
                <p>Fecha: {{ transaction.date | date: 'dd/MM/yyyy HH:mm:ss' }}</p>
              </ng-template>
            </p-overlayPanel>
            <p-button (click)="op.toggle($event)" [autoHide]="true" [showDelay]="500" icon="pi pi-info-circle"
                      pTooltip="Información" severity="info" tooltipPosition="bottom"/>
            <div class="card flex justify-content-center">
              <p-button (click)="deleteTransaction(transaction.id)" [autoHide]="true" [showDelay]="500"
                        icon="pi pi-trash" pTooltip="Borrar" severity="danger" tooltipPosition="bottom"/>
            </div>
          </div>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5">No se han encontrado transacciones</td>
      </tr>
    </ng-template>
  </p-table>
  <p-toast></p-toast>
  <p-confirmDialog #cd>
    <ng-template let-message pTemplate="headless">
      <div class="flex flex-column align-items-center p-5 surface-overlay border-round">
        <div
          class="border-circle bg-red-500 inline-flex justify-content-center align-items-center h-6rem w-6rem -mt-8 text-white">
          <i class="pi pi-trash text-5xl"></i>
        </div>
        <span class="font-bold text-2xl block mb-2 mt-4 text-left">{{ message.header }}</span>
        <p class="mb-0 text-left">{{ message.message }}</p>
        <div class="flex align-items-center justify-content-center gap-2 mt-4">
          <button (click)="cd.accept()" class="w-8rem p-button-danger" label="Eliminar" pButton></button>
          <button (click)="cd.reject()" class="p-button-danger p-button-outlined" label="Cancelar"
                  pButton></button>
        </div>
      </div>
    </ng-template>
  </p-confirmDialog>

</div>
