<router-outlet></router-outlet>
<p-toast></p-toast>
<div class="flex align-items-center justify-content-center h-screen"
     style="background: linear-gradient(237deg, rgba(194,42,240,1) 0%, rgba(38,0,255,1) 100%)">

  <p-card header="Registrarse">
    <form [formGroup]="formGroup" id="registerForm">
      <div class="inline-flex flex-column p-3">

        <div class="inline-flex p-3">
          <div>
          <span class="p-input-filled m-2">
          <input class="p-3 border-round-3xl border-0 bg-gray-200" formControlName="name" id="name" pInputText placeholder="Nombre"
                 type="text">
          </span>
            @if (formGroup.controls['name'].invalid && formGroup.controls['name'].touched) {
              <p *ngIf="formGroup.controls['name'].errors?.required" class="text-red-500 text-xs m-0 ml-3">
                El nombre es obligatorio</p>
              <p *ngIf="formGroup.controls['name'].errors?.minlength" class="text-red-500 text-xs m-0 ml-3">
                El nombre debe tener al menos 3 caracteres</p>
              <p *ngIf="formGroup.controls['name'].errors?.maxlength" class="text-red-500 text-xs m-0 ml-3">
                El nombre debe tener como máximo 50 caracteres</p>
            }
          </div>
          <div>
          <span class="p-input-filled m-2">
          <input class="p-3 border-round-3xl border-0 bg-gray-200" formControlName="email" id="email" pInputText placeholder="Email"
                 type="text">
          </span>
            @if (formGroup.controls['email'].invalid && formGroup.controls['email'].touched) {
              <p *ngIf="formGroup.controls['email'].errors?.required" class="text-red-500 text-xs m-0 ml-3">
                El email es obligatorio</p>
              <p *ngIf="formGroup.controls['email'].errors?.email" class="text-red-500 text-xs m-0 ml-3">
                El email no es válido</p>
            }
          </div>
        </div>

        <div class="inline-flex p-3">
          <div><span class="p-input-filled m-2">
            <input class="p-3 border-round-3xl border-0 bg-gray-200" formControlName="username" id="username" pInputText placeholder="Nombre de usuario"
                   type="text">
          </span>
            @if (formGroup.controls['username'].invalid && formGroup.controls['username'].touched) {
              <p *ngIf="formGroup.controls['username'].errors?.required" class="text-red-500 text-xs m-0 ml-3">
                El username es obligatorio</p>
              <p *ngIf="formGroup.controls['username'].errors?.minlength" class="text-red-500 text-xs m-0 ml-3">
                El username debe tener al menos 3 caracteres</p>
              <p *ngIf="formGroup.controls['username'].errors?.maxlength" class="text-red-500 text-xs m-0 ml-3">
                El username debe tener como máximo 50 caracteres</p>
            }</div>

          <div><span class="p-input-filled m-2">
            <input (input)="validateDNI($event)" class="p-3 border-round-3xl border-0 bg-gray-200" formControlName="dni" id="dni" pInputText placeholder="DNI"
                   type="text">
          </span>
            @if (formGroup.controls['dni'].invalid && formGroup.controls['dni'].touched) {
              <p *ngIf="formGroup.controls['dni'].errors?.required" class="text-red-500 text-xs m-0 ml-3">
                El DNI es obligatorio</p>
              <p *ngIf="formGroup.controls['dni'].errors?.minlength" class="text-red-500 text-xs m-0 ml-3">
                El DNI debe tener 9 caracteres</p>
              <p *ngIf="formGroup.controls['dni'].errors?.maxlength" class="text-red-500 text-xs m-0 ml-3">
                El DNI debe tener 9 caracteres</p>
              <p *ngIf="formGroup.controls['dni'].errors?.incorrect" class="text-red-500 text-xs m-0 ml-3">
                El DNI no es correcto</p>
            }</div>
        </div>

        <div class="inline-flex p-3 justify-content-between">
          <div>
            <p-dropdown [options]="genders" formControlName="gender" placeholder="Selecciona un género"
                        styleClass="ml-2 mr-2 w-16rem"/>
            @if (formGroup.controls['gender'].invalid && formGroup.controls['gender'].touched) {
              <p *ngIf="formGroup.controls['gender'].errors?.required" class="text-red-500 text-xs m-0 ml-3">
                El género es obligatorio</p>
            }
          </div>

          <div>
            <span class="p-input-filled m-2">
              <input (keyup.enter)="sendForm()" class="p-3 border-round-3xl border-0 bg-gray-200" formControlName="phone" id="phone" pInputText
                     placeholder="Teléfono" type="tel">
            </span>
            @if (formGroup.controls['phone'].invalid && formGroup.controls['phone'].touched) {
              <p *ngIf="formGroup.controls['phone'].errors?.required" class="text-red-500 text-xs m-0 ml-3">
                El teléfono es obligatorio</p>
              <p *ngIf="formGroup.controls['phone'].errors?.minlength" class="text-red-500 text-xs m-0 ml-3">
                El teléfono debe tener 9 caracteres</p>
              <p *ngIf="formGroup.controls['phone'].errors?.maxlength" class="text-red-500 text-xs m-0 ml-3">
                El teléfono debe tener 9 caracteres</p>
            }
          </div>
        </div>

        <div class="inline-flex p-3">
          <div>
            <span class="p-input-filled m-2">
          <input (keyup.enter)="sendForm()" class="p-3 border-round-3xl border-0 bg-gray-200" formControlName="password" id="password" pInputText pPassword
                 placeholder="Contraseña" type="password">
        </span>
            @if (formGroup.controls['password'].invalid && formGroup.controls['password'].touched) {
              <p *ngIf="formGroup.controls['password'].errors?.required" class="text-red-500 text-xs m-0 ml-3">
                La contraseña es obligatoria</p>
              <p *ngIf="formGroup.controls['password'].errors?.minlength" class="text-red-500 text-xs m-0 ml-3">
                La contraseña debe tener al menos 3 caracteres</p>
              <p *ngIf="formGroup.controls['password'].errors?.maxlength" class="text-red-500 text-xs m-0 ml-3">
                La contraseña debe tener como máximo 50 caracteres</p>
            }
          </div>

          <div>
            <span class="p-input-filled m-2">
              <input (keyup.enter)="sendForm()" class="p-3 border-round-3xl border-0 bg-gray-200" formControlName="confirmpassword" id="confirmpassword" pInputText
                     pPassword
                     placeholder="Confirmar contraseña" type="password">
            </span>
            @if (formGroup.errors?.passwordMismatch && formGroup.controls['confirmpassword'].touched) {
              <p class="text-red-500 text-xs m-0 ml-3">
                Las contraseñas no coinciden
              </p>
            }
          </div>
        </div>

      </div>
    </form>

    <div class="mt-4 w-full">
      <div class="flex align-items-center justify-content-center w-full">
        <p-button (click)="sendForm()" label="Crear cuenta"/>
      </div>
      <div class="flex align-items-center justify-content-center mt-2">
        <p-button (click)="goBack()" [rounded]="true" [text]="true" label="Volver" severity="secondary"/>
      </div>
    </div>
  </p-card>
</div>
