<div class="card flex justify-content-center align-items-center m-2 overflow-visible">
  <div class="flex flex-column gap-3">
    <form [formGroup]="formGroup" class="flex flex-column gap-3">
      @if (!isNewUser) {
        <p-dropdown [options]="users" formControlName="selectedUser" optionLabel="name" [showClear]="true"
                    placeholder="Elegir usuario" styleClass="w-20rem"
                    emptyMessage="No se han encontrado usuarios" (onChange)="loadBankAccounts()"/>
      }

      <p-dropdown [options]="bankAccounts" [showClear]="true" emptyMessage="Sin cuentas bancarias" formControlName="selectedBankAccount"
                  optionLabel="iban" placeholder="Elegir cuenta de destino"
                  styleClass="w-20rem"/>

      @if (bankAccounts && bankAccounts.length > 0) {
        <p-dropdown [options]="cardsType" formControlName="selectedCardType" [showClear]="true"
                    placeholder="Elegir tipo de tarjeta" styleClass="w-20rem"
                    emptyMessage="No se han encontrado tipos de cuenta"/>

        <div class="card flex justify-content-center">
          <p-inputOtp formControlName="pin" [length]="4" [integerOnly]="true"></p-inputOtp>
        </div>
      }
      <p-button (click)="saveChanges()" [label]="label" rounded styleClass="w-full mt-6"></p-button>
      <p-button (click)="cancel()" rounded label="Cancelar" severity="secondary" styleClass="w-full"></p-button>
    </form>
  </div>
</div>
