<div class="card flex justify-content-center align-items-center m-2 overflow-hidden">
  <div class="flex flex-column gap-3">
    <form [formGroup]="formGroup" class="flex flex-column gap-3 p-1">
      <p-dropdown [options]="bankAccounts" [showClear]="true" emptyMessage="No hay cuentas disponibles"
                  formControlName="ibanAccountOrigin" optionLabel="iban" placeholder="Cuenta origen"
                  styleClass="w-20rem"/>
      <div class="flex flex-column gap-1">
        <input class="p-3 border-round-3xl border-0 bg-gray-200" formControlName="ibanAccountDestination" pInputText placeholder="Cuenta destino"
               type="text">
        @if (formGroup.controls['ibanAccountDestination'].invalid && formGroup.controls['ibanAccountDestination'].touched) {
          <p *ngIf="formGroup.controls['ibanAccountDestination'].errors?.required"
             class="text-red-500 text-xs m-0 ml-3">
            La cuenta destino es obligatoria</p>
          <p *ngIf="formGroup.controls['ibanAccountDestination'].errors?.pattern" class="text-red-500 text-xs m-0 ml-3">
            El formato no es correcto</p>
        }
      </div>
      <div class="flex flex-column gap-1">
        <input class="p-3 border-round-3xl border-0 bg-gray-200 mb-0" formControlName="amount" pInputText placeholder="Cantidad"
               type="number">
        @if (formGroup.controls['amount'].invalid && formGroup.controls['amount'].touched) {
          <p *ngIf="formGroup.controls['amount'].errors?.required" class="text-red-500 text-xs m-0 ml-3">
            La cantidad es obligatoria</p>
          <p *ngIf="formGroup.controls['amount'].errors?.min" class="text-red-500 text-xs m-0 ml-3">
            El valor mínimo es 0,01€</p>
          <p *ngIf="formGroup.controls['amount'].errors?.max" class="text-red-500 text-xs m-0 ml-3">
            El valor máximo son 20.000€</p>
          <p *ngIf="formGroup.controls['amount'].errors?.pattern" class="text-red-500 text-xs m-0 ml-3">
            El formato no es correcto</p>
        }
      </div>

      <div class="flex flex-column gap-1">
        <input class="p-3 border-round-3xl border-0 bg-gray-200" formControlName="concept" pInputText placeholder="Concepto"
               type="text">
        @if (formGroup.controls['concept'].invalid && formGroup.controls['concept'].touched) {
          <p *ngIf="formGroup.controls['concept'].errors?.required" class="text-red-500 text-xs m-0 ml-3">
            El concepto es obligatorio</p>
          <p *ngIf="formGroup.controls['concept'].errors?.minlength" class="text-red-500 text-xs m-0 ml-3">
            El concepto no puede tener menos de 3 caracteres</p>
          <p *ngIf="formGroup.controls['concept'].errors?.maxlength" class="text-red-500 text-xs m-0 ml-3">
            El concepto no puede tener más de 30 caracteres</p>
        }
      </div>
      <p-button (click)="createTransaction()" rounded label="Confirmar" styleClass="w-full mt-5"></p-button>
      <p-button (click)="cancel()" rounded label="Cancelar" severity="danger" styleClass="w-full"></p-button>
    </form>
  </div>
</div>
